<div class="d-flex justify-content-center align-items-center min-vh-100">
  <div class="card border-success mb-3 tarjeta-login">
    <div class="card-header fs-4 text-center">Registro AGROANIMA</div>
    <div class="card-body text-success p-4">
      <form>
        <div class="mb-3">
          <label for="correo" class="form-label">Nombre</label>
          <input type="email" class="form-control form-control-lg" id="Nombre" aria-describedby="emailHelp">
          </div>

        <div class="mb-3">
          <label for="correo" class="form-label">Correo electrónico</label>
          <input type="email" class="form-control form-control-lg" id="correo" aria-describedby="emailHelp">
        </div>

             <div class="mb-3">
          <label for="correo" class="form-label">Telefono</label>
          <input type="email" class="form-control form-control-lg" id="correo" aria-describedby="emailHelp">
        </div>

        <div class="mb-3">
          <label for="clave" class="form-label">Contraseña</label>
          <input type="password" class="form-control form-control-lg" id="clave">
        </div>

        <div class="mb-3">
          <label for="clave" class="form-label">Confirmar Contraseña</label>
          <input type="password" class="form-control form-control-lg" id="clave">
        </div>

        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="recordar">
          <label class="form-check-label" for="recordar">Recordarme</label>
        </div>

        <div class="d-flex gap-2"> 
        <button type="submit" class="btn btn-success btn-lg flex-fill">Iniciar sesión</button>
        </div>

      </form>
    </div>
  </div>
</div>
